# 4.10 Analysis Questions

## 1. Import Libraries and Data

### 1. Import Libraries and Data

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Create Path

path = r'/Users/bethanybreed/Documents/A Career Foundry/07-2022 Instacart Basket Analysis'

In [3]:
#Import data as 'instacart'

instacart = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'instacart_final.pkl'))

In [14]:
instacart.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,fam_status,income,geographic_region,five_or_more
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Yes
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Yes
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Yes
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Yes
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Yes

In [15]:
instacart.groupby('order_hour_of_day')['order_number'].mean()

order_hour_of_day
0     16.498303
1     16.116948
2     16.499566
3     16.982581
4     17.731379
5     18.977398
6     20.141150
7     20.297659
8     19.749835
9     19.280366
10    18.571575
11    17.938463
12    17.642534
13    17.651658
14    17.596988
15    17.442658
16    17.055619
17    16.757403
18    16.414565
19    16.625896
20    17.192302
21    17.841328
22    17.651226
23    17.340813
Name: order_number, dtype: float64

TypeError: unhashable type: 'list'